<nav>
  {% if user.is_authenticated %}
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'add_ticket' %}">Add Ticket</a>
  <a href="{% url 'logout' %}">Logout</a>
  {% else %}
  <a href="{% url 'login' %}">Login</a>
  {% endif %}
</nav>

{% if user.is_authenticated %}
<h1>Tickets</h1>
<h2>Authenticated ? {{user.is_authenticated}}</h2>

<h2>User: {{user.username}}</h2>
<h2>Email: {{user.email}}</h2>
<!-- <h2>Name: {{name}}</h2> -->

<!-- {{tickets}} -->
<h3>New Tickets</h3>
{% for ticket in new_tickets %}
<p>Title: {{ticket}}</p>
<!-- <p>Description: {{ticket.description}}</p>
<p>Time: {{ticket.time}}</p>
<p>Created By: {{ticket.user_filed}}</p> -->

<a href="ticket/{{ticket.id}}/edit"><button>Edit</button></a>
<a href="ticket/{{ticket.id}}/"><button>View Ticket</button></a>
<hr />
{% endfor %}

<h3>In Progress Tickets</h3>
{% for ticket in in_progress_tickets %}
<p>Title:{{ticket}}</p>
<a href="ticket/{{ticket.id}}/edit"><button>Edit</button></a>
<a href="ticket/{{ticket.id}}/"><button>View Ticket</button></a>
<hr />
{% endfor %}

<h3>Finished Tickets</h3>
{% for ticket in done_tickets %}
<p>Title:{{ticket}}</p>
<a href="ticket/{{ticket.id}}/edit"><button>Edit</button></a>
<a href="ticket/{{ticket.id}}/"><button>View Ticket</button></a>
<hr />
{% endfor %}

<h3>Invalid Tickets</h3>
{% for ticket in invalid_tickets %}
<p>Title:{{ticket}}</p>
<a href="ticket/{{ticket.id}}/edit"><button>Edit</button></a>
<a href="ticket/{{ticket.id}}/"><button>View Ticket</button></a>
<hr />
{% endfor %} {% endif %}
