<a href="{% url 'home' %}">Home</a>
<h1>Ticket Detail</h1>
<!-- {{ticket}}{{ticket.id}} -->
<p>Title: {{ticket}}</p>
<p>Description: {{ticket.description}}</p>
<p>Time: {{ticket.time}}</p>
<p>
  Created By:
  <a href="ticket/{{ticket.author.get_full_name}}/"
    >{{ticket.author.get_full_name}}</a
  >
  <!-- {{ticket.author.get_full_name}} -->
</p>
<p>Status: {{ticket.ticket_status}}</p>
{% if ticket.user_assigned is not None %}
<p>
  Assigned To:
  <a href="ticket/{{ticket.user_assigned}}/">{{ticket.user_assigned}}</a>
</p>
{% else %}
<p>Assigned To: {{ticket.user_assigned}}</p>
{% endif %} {% if ticket.user_completed is not None %}
<p>
  Completed By:
  <a href="ticket/{{ticket.user_completed}}/">{{ticket.user_completed}}</a>
</p>
{% else %}
<p>Completed By: {{ticket.user_completed}}</p>
{% endif %} {% if ticket.ticket_status == "New" %}
<a href="/status/In_Progress/{{ticket.id}}/"><button>Assign</button></a>
<a href="/status/Done/{{ticket.id}}/"><button>Complete</button></a>
<a href="/status/Invalid/{{ticket.id}}/"><button>Invalid</button></a>
{% elif ticket.ticket_status == "In_Progress" %}
<a href="/status/Done/{{ticket.id}}/"><button>Complete</button></a>
<a href="/status/Invalid/{{ticket.id}}/"><button>Invalid</button></a>
{% elif ticket.ticket_status == "Done" %}
<a href="/status/Invalid/{{ticket.id}}/"><button>Invalid</button></a>
{% else %}
<p>no more statuses to change</p>
{% endif %}
